.header {
	background-color: #131921;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
}

.logo {
	width: 100px;
	margin: 0 20px;
	margin-top: 18px;
	object-fit: contain;
}

.option_basket {
	display: flex;
	align-items: center;
	margin: 0px 10px;
}

.basket_count {
	margin: 0px 10px;
}

.nav {
	display: flex;
	justify-content: space-evenly;
	margin: 0px 20px;
}

.option {
	display: flex;
	flex-direction: column;
}

.option_line_1 {
	font-size: 10px;
}

.option_line_2 {
	font-size: 13px;
	font-weight: 800;
}

.link {
	color: #ffffff;
	text-decoration: none;
}

.search {
	display: flex;
	flex: 1;
}

.search_input {
	padding: 10px;
	height: 12px;
	border: none;
	width: 100%;
}

.search_icon {
	background-color: #cd9042;
	padding: 5px;
	height: 22px !important;
}
